@mixin styleText($fs,$color,$fw){
    font-size: $fs;
    color:$color ;
    font-weight: $fw;
}
@mixin styleTag_a($pd-y,$pd-x,$bd-radius,$bd-color){
    padding: $pd-y $pd-x;
    border-radius: $bd-radius;
    border:1px solid $bd-color;
}
@mixin hoverTag_a($bg-color,$color){
    background-color:$bg-color ;
    color:$color;
}
@mixin headerForm($pd-left,$pd-input-x,$btn-pdX,$width,$left,$top) {
    .header-form{
            display: flex;
            width: $width;
            .addIcon{
                position: relative;
                input[type="text"]{
                    padding:$pd-input-x 0;
                    border :1px solid $color-gray-0;
                    border-right: 0;
                    border-radius: 3px 0 0 3px;
                    padding-left: $pd-left;
                    
                    &::placeholder{
                        @include styleText($fs-0 - 2, $color-gray-0,$fw-normal);
                        letter-spacing: 0.5px;
                    }
                    &:focus{
                        box-shadow: none;
                        border-color: $color-gray-3;
                    }
                }
                i{
                    @include styleText($fs-0 - 2, $color-gray-1,null);
                    position: absolute;
                    z-index: 4;
                    left: $left;
                    top: $top;
                    
                }
            }
            .input-group-append{
                display: flex;
                align-items: center;
                padding: 0px $btn-pdX;
                background-color: $color-green;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                span{
                    @include styleText($fs-0 - 3,$color-white,$fw-bold);

                }
                
            }
        }
       
}
@mixin  styleButton($color,$bg-color,$bd-color,$px,$py,$br) {
    color: $color;
    background-color: $bg-color;
    border: 2px solid $bd-color;
    padding: $px $py;
    border-radius: $br;

}