.fiverr-theme{

    .list-theme{
        padding: 0 $pd-5;
        .list-theme--item{
            text-align: center;
            cursor: pointer;
            
            &:hover{
                .line{
                    width: 30%;
                    background:$color-green-1;
                }
            }
            
            img{
                width:48px ;
                height: 48px;
            }
            .line{
                width: 20%;
                margin: 0 auto;
                height: 1.5px;
                background-color: $color-gray-0;
                transition: all 0.3s;
                margin-top: $pd-1 - 5;
                margin-bottom: $pd-1;
            }
        }
    }
}